<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061922346680-2fg4utflj8gaebgc09adrejt0n5ktv5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061922346680-2fg4utflj8gaebgc09adrejt0n5ktv5t</string>
	<key>API_KEY</key>
	<string>AIzaSyDoL_GxOlSU3Y1pKftQ0NOj4RjOT0PxYgY</string>
	<key>GCM_SENDER_ID</key>
	<string>1061922346680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-9e2aa</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-9e2aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061922346680:ios:5dfddfadaa3efc0cb2c64d</string>
</dict>
</plist>